.selectSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  list-style: none;

  max-width: 300px;
}

.selectPresenter {
  margin-top: 30px;

  display: flex;
  flex-direction: column;

  width: 100px;
  height: 50px;

  align-items: center;
  justify-content: center;

  background-color: lavender;
  border-radius: 1rem;
  margin: 1rem;
  cursor: pointer;
}
